.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #1E3A8A	;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color:white ;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.header-logo {
    font-size: 24px;
    font-weight: 600;
    
    display: flex;
    align-items: center;
    
}
.header-menu {
    display: flex;
    gap: 20px;
}
.header-menu-item {
    cursor: pointer;
}

.user-auth {
    display: flex;
    gap: 20px;
}


@media (max-width: 900px) {
    .header-container {
      
        height: auto;
    }
}

@media (max-width: 600px) {

    
    .user-auth button{
        display: none;
    }


    .header-container {
       width: 100%;
        height: auto;
    }   

    .header-menu {
        
        gap: 10px;
    }   

    .header-menu-item {
        width: 100%;
        text-align: center;
    }   

    .user-auth {
      
        gap: 10px;
    }      

    .user-auth-item {
        width: 100%;
        text-align: center;
    }      

    .user-auth-item-btn {
        width: 100%;
        text-align: center;
    }           }      
    
    









